/.idea/
/__pycache__/
/venv/
/db/__pycache__/
/tests/.pytest_cache/
/.pytest_cache/
/build/
/cur_api_pkj_Rasskazkin.egg-info/
/dist/
/tests/
.gitignore
docker-compose.yml
Dockerfile
README.md
setup.py
test.http
/db_volume/